

.styleActor{
  
  color: #fff;
  background: #1c1c1c;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}

  

.styleActor  img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
  }

.styleActor  .actor-name {
    display: block;
    font-size: 18px;
    margin: 10px 0 0 0;
}

.styleActor .actor-character {
    display: block;
    font-size: 16px;
    margin: 0 0 10px 0;
  }

